@import url('/assets/styles/sass/_vars.scss');
@import url('/assets/styles/css/main_layout.css');
@import url('/assets/styles/css/header.css');
@import url('/assets/styles/css/main.css');
@import url('/assets/styles/css/footer.css');

html {
    font-size: 62.4%;

    body {
        font-family: "Neue Montreal Book";
        font-size: 1.5rem;
        line-height: 1.5;
    }
}