:root {

    /* == light mode == */
    --lm-text: rgb(5, 5, 5);
    --lm-background: rgb(250, 250, 250);
    --lm-primary: rgb(56, 25, 123);
    --lm-secondary: rgb(223, 212, 247);
    --lm-accent: rgb(92, 30, 225);

    /* == dark mode == */
    --dm-text: rgb(250, 250, 250);
    --dm-background: rgb(5, 5, 5);
    --dm-primary: rgb(56, 25, 123);
    --dm-secondary: rgb(19, 8, 43);
    --dm-accent: rgb(157, 120, 237);
}
    
:root[data-theme="light"] {
    color-scheme: light;
    --text: rgb(5, 5, 5);
    --background: rgb(250, 250, 250);
    --box-background: rgb(5, 5, 5, 0.117);
    --primary: rgb(56, 25, 123);
    --secondary: rgb(223, 212, 247);
    --accent: rgb(92, 30, 225);
}

:root[data-theme="dark"] {
    color-scheme: dark;
    --text: rgb(250, 250, 250);
    --background: rgb(5, 5, 5);
    --box-background: rgb(250, 250, 250, 0.117);
    --primary: rgb(56, 25, 123);
    --secondary: rgb(19, 8, 43);
    --accent: rgb(157, 120, 237);
}

/* @media (prefers-color-scheme: light) {
    :root {
        color-scheme: light;
        --text: rgb(5, 5, 5);
        --background: rgb(250, 250, 250);
        --primary: rgb(56, 25, 123);
        --secondary: rgb(223, 212, 247);
        --accent: rgb(92, 30, 225);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        --text: rgb(250, 250, 250);
        --background: rgb(5, 5, 5);
        --primary: rgb(56, 25, 123);
        --secondary: rgb(19, 8, 43);
        --accent: rgb(157, 120, 237);
    }
} */