main {
    margin-bottom: 4rem;

    h1 {
        grid-area: title;
        font-size: 3rem;
        /* margin-bottom: 3rem; */
        /* text-transform: uppercase; */
        font-family: "Romie Heavy";
        letter-spacing: 0.25rem;
        text-align: center;
    }

    h2 {
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
        font-family: "Romie Heavy";
    }
}