@charset "UTF-8";
@import "reset.css";
@import "variables/colors.css";
@import "variables/fonts.css";
@import "variables/font-sizes.css";
header {
  height: 12rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--clr-background);
  box-shadow: 0 9px 38px -11px var(--clr-card-shadow);
  border-radius: 0.5rem;
  z-index: 1;
}
header .header-container {
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .header-container .header-title {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .header-container .header-title h1 {
  font-family: var(--ff-header-title);
  font-size: var(--fs-header-title);
}
header .header-container .header-title p {
  font-family: var(--ff-header-p);
  font-size: var(--fs-header-p);
}
header .header-container .header-toggleBtn-container {
  width: 50px;
  height: 45px;
  padding: 0.3rem;
  position: fixed;
  top: 1.25rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-menu-background);
  border-radius: 0.5rem;
  cursor: pointer;
  z-index: 1000;
}
header .header-container .header-toggleBtn-container:hover {
  background-color: var(--clr-menu-background-hover);
}
header .header-container nav {
  height: 100%;
  padding: 1rem;
  display: none;
  position: fixed;
  top: 120px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--clr-background);
}
header .header-container nav.mainNavActive {
  display: block;
}
header .header-container nav ul {
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-card-background);
  color: var(--clr-text-high-contrast);
  border-radius: 0.5rem;
  overflow: auto;
}
header .header-container nav ul li {
  margin-block: 1rem;
  padding: 1rem 2.5rem;
  width: fit-content;
  position: relative;
  border-radius: 0.5rem;
  text-align: center;
  text-transform: uppercase;
}
header .header-container nav ul li:hover {
  background-color: var(--clr-card-background-hover);
}
header .header-container nav ul li:active {
  background-color: var(--clr-element-background-active);
}
header .header-container nav ul li a {
  position: relative;
  font-family: var(--ff-links);
}

@media (min-width: 1024px) and (max-width: 1510px) {
  header {
    height: auto;
    position: relative;
  }
  header .header-container {
    width: 80%;
    margin-top: 2rem;
    margin-inline: auto;
    padding: 0;
  }
  header .header-container .header-title {
    align-items: center;
  }
  header .header-container .header-toggleBtn-container {
    display: none;
  }
  header .header-container nav {
    height: 100%;
    padding: 0;
    position: relative;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  header .header-container nav ul {
    flex-direction: row;
    flex-wrap: wrap;
    background-color: transparent;
  }
}
footer {
  background-color: var(--clr-element-background);
  border-top: 1px solid var(--clr-element-border);
}
footer nav {
  margin-block: 2rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer nav ul li {
  padding-block: 1.25rem;
  padding-inline: 0.5rem;
  text-align: center;
  border-radius: 0.5rem;
}
footer nav ul li:hover {
  background-color: var(--clr-element-background-hover);
}
footer nav ul li:active {
  background-color: var(--clr-element-background-active);
}
footer nav ul li a {
  text-transform: uppercase;
}
footer p {
  margin-block: 6rem 3rem;
  padding: 1.5rem;
  text-align: center;
}
footer p a {
  font-weight: bold;
}

.homepage-container {
  background-color: var(--clr-background);
}
.homepage-container .homepage-image-container {
  height: 18rem;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: var(--clr-background);
}
.homepage-container .homepage-image-container img {
  object-fit: cover;
}
.homepage-container .homepage-shortcutNav-container {
  padding: 1rem;
}
.homepage-container .homepage-shortcutNav-container .shortcutNav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  justify-items: center;
}
.homepage-container .homepage-shortcutNav-container .shortcutNav a {
  width: 10rem;
  height: 11rem;
  margin-bottom: 4.5rem;
  padding-bottom: 4rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
  background-color: var(--clr-card-background);
  box-shadow: 0 4px 24px -6px var(--clr-card-shadow);
  border: 1px solid var(--clr-card-border);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.homepage-container .homepage-shortcutNav-container .shortcutNav a:before {
  padding: 0.5rem;
  content: url("/projet-final/projet-mairie/assets/images/homepage-shortcutNav-icons/icons8-wave-48-4.png");
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -13%;
}
.homepage-container .homepage-shortcutNav-container .shortcutNav a:hover {
  background-color: var(--clr-card-background-hover);
  border: 1px solid var(--clr-card-border-active);
}
.homepage-container .homepage-shortcutNav-container .shortcutNav a:active {
  background-color: var(--clr-card-background-active);
  border: 1px solid var(--clr-card-border-active);
}
.homepage-container .homepage-shortcutNav-container .shortcutNav a .svg-container {
  width: 48px;
  height: 48px;
}
.homepage-container .homepage-shortcutNav-container .shortcutNav a .svg-container img {
  width: 48px;
  height: 48px;
}
.homepage-container .homepage-shortcutNav-container .shortcutNav a .label {
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2;
}
.homepage-container .agenda {
  margin-block: 2rem;
  padding: 4rem 4rem 2rem;
}
.homepage-container .agenda h2 {
  margin-block: 2rem;
  font-size: var(--fs-section-title);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.homepage-container .agenda h2:after {
  width: 10rem;
  height: 0.35rem;
  margin: 3rem auto;
  content: "";
  display: block;
  background-color: var(--clr-accent);
}
.homepage-container .agenda ul {
  margin-block: 3rem;
}
.homepage-container .agenda ul li {
  margin-block: 2rem;
  padding: 2rem;
  background-color: var(--clr-card-background);
  border: 1px solid var(--clr-card-border);
  border-radius: 0.5rem;
  box-shadow: 0 4px 24px -6px var(--clr-card-shadow);
}

@media (min-width: 1024px) and (max-width: 1510px) {
  .homepage-container {
    width: 80%;
    margin-inline: auto;
  }
  .homepage-container .homepage-image-container {
    height: 30rem;
  }
  .homepage-container .homepage-shortcutNav-container {
    display: flex;
    justify-content: center;
  }
  .homepage-container .homepage-shortcutNav-container .shortcutNav {
    width: 70%;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .homepage-container .agenda {
    width: 60%;
    margin-inline: auto;
  }
}
@media (min-width: 1511px) {
  .homepage-container {
    width: 80%;
    margin-inline: auto;
  }
  .homepage-container .homepage-image-container {
    height: 30rem;
  }
  .homepage-container .homepage-shortcutNav-container {
    display: flex;
    justify-content: center;
  }
  .homepage-container .homepage-shortcutNav-container .shortcutNav {
    width: 70%;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .homepage-container .agenda {
    width: 60%;
    margin-inline: auto;
  }
}
.main-container {
  padding: 1rem;
  background-color: var(--clr-background);
}
.main-container h1 {
  margin-block: 3.5rem 3rem;
  font-size: var(--fs-page-title);
  text-align: center;
}
.main-container h1::after {
  margin: 1.5rem auto;
  width: 10rem;
  height: 0.35rem;
  content: "";
  display: block;
  background-color: var(--clr-accent);
}
.main-container .main-container-link {
  width: fit-content;
  margin-block: 2rem;
  padding: 0.5rem 1rem;
  background: var(--clr-link-background);
  border-radius: 0.5rem;
  text-transform: uppercase;
}
.main-container .main-container-link:hover {
  background: var(--clr-link-background-hover);
}
.main-container .main-container-link:active {
  background: var(--clr-link-background-active);
}
.main-container .sub-pages-list {
  margin-bottom: 3.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.main-container .sub-pages-list a {
  height: 10rem;
  width: 15rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-card-background);
  box-shadow: 0 4px 24px -6px var(--clr-card-shadow);
  border: 1px solid var(--clr-card-border);
  border-radius: 0.5rem;
  text-align: center;
}
.main-container .sub-pages-list a:hover {
  background-color: var(--clr-card-background-hover);
  border: 1px solid var(--clr-card-border-hover);
}
.main-container .sub-pages-list a:active {
  background-color: var(--clr-card-background-active);
  border: 1px solid var(--clr-card-border-active);
}
.main-container .list-items h2 {
  margin-block: 2.5rem;
  font-size: var(--fs-section-title);
}
.main-container .list-items article {
  margin-block: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.main-container .list-items article:before {
  width: 20rem;
  height: 0.2rem;
  margin: 1.5rem auto 3rem;
  content: "";
  display: block;
  background-color: var(--clr-element-border);
}
.main-container .list-items article:after {
  width: 20rem;
  height: 0.2rem;
  margin: 3rem auto 1.5rem;
  content: "";
  display: block;
  background-color: var(--clr-element-border);
}
.main-container .list-items article h3 {
  text-transform: uppercase;
}
.main-container .list-items article ul li {
  margin-block: 1rem;
  padding: 1rem;
}
.main-container .list-items article ul li a {
  padding: 0.5rem;
  background: var(--clr-link-background);
}
.main-container .list-items article ul li a:hover {
  background: var(--clr-link-background-hover);
}
.main-container .list-items article ul li a:active {
  background: var(--clr-link-background-active);
}
.main-container .list-items article a {
  margin-block: 1rem;
  padding: 1rem;
  border: 2px solid var(--clr-link-background);
  border-radius: 0.5rem;
}
.main-container .list-items article a:hover {
  border: 2px solid var(--clr-link-background-hover);
}
.main-container .list-items article a:active {
  border: 2px solid var(--clr-link-background-active);
}
.main-container .single-page {
  padding: 2.5rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-container .single-page p {
  padding: 1rem;
  order: 1;
}
.main-container .single-page figure {
  width: auto;
  order: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-background);
}
.main-container .single-page figure img {
  width: 80%;
  height: auto;
  margin-block: 2rem;
  order: 0;
  border: 1px solid var(--clr-element-border);
  border-radius: 0.5rem;
}

@media (min-width: 1024px) and (max-width: 1510px) {
  .main-container {
    width: 80%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-container .list-items, .main-container .single-page, .main-container .sub-pages-list {
    width: 60%;
    margin-inline: auto;
  }
}
.table-container {
  display: flex;
  flex-direction: column;
}
.table-container a {
  width: fit-content;
  margin-block: 2rem;
  padding: 0.5rem 1rem;
  background: var(--clr-link-background);
  border-radius: 0.5rem;
  text-transform: uppercase;
}
.table-container a:hover {
  background: var(--clr-link-background-hover);
}
.table-container a:active {
  background: var(--clr-link-background-active);
}
.table-container table, .table-container thead, .table-container tbody, .table-container th, .table-container td, .table-container tr {
  display: block;
}
.table-container table thead tr {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.table-container table tbody tr {
  border-bottom: 1px solid var(--clr-element-border);
}
.table-container table tbody tr td {
  padding: 1rem;
  border: none;
  position: relative;
  padding-left: 50%;
}
.table-container table tbody tr td:before {
  width: 45%;
  padding-right: 10px;
  position: absolute;
  top: 6px;
  left: 6px;
  white-space: nowrap;
}
.table-container table tbody tr td:hover {
  background-color: var(--clr-element-background-hover);
}
.table-container table tbody tr td:nth-of-type(1):before {
  content: "Nom de l'entité";
}
.table-container table a {
  width: fit-content;
  margin-block: 0rem;
  padding: 0.5rem;
  background: transparent;
  border: 2px solid var(--clr-link-background);
  border-radius: 0.5rem;
  text-transform: uppercase;
}
.table-container table a:hover {
  background: transparent;
  border: 2px solid var(--clr-link-background-hover);
}
.table-container table a:active {
  background: transparent;
  border: 2px solid var(--clr-link-background-active);
}

.form-container {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-container form fieldset {
  margin: 1.5rem;
  padding-block: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--clr-element-border-active);
  border-top: 1px solid var(--clr-element-border-active);
}
.form-container form fieldset input {
  width: 90%;
  margin-block: 1rem;
  padding: 1rem;
  box-shadow: 0 4px 24px -6px var(--clr-card-shadow);
  border: 1px solid var(--clr-element-border);
  border-radius: 0.5rem;
}
.form-container form fieldset input[type=radio] {
  width: fit-content;
}
.form-container form fieldset input[type=checkbox] {
  width: 2rem;
  height: 2rem;
  margin: 0;
  padding: 0;
}
.form-container form fieldset textarea {
  width: 90%;
  margin-block: 1rem;
  padding: 1rem;
  box-shadow: 0 4px 24px -6px var(--clr-card-shadow);
  border: 1px solid var(--clr-element-border);
  border-radius: 0.5rem;
}
.form-container form fieldset select {
  width: 90%;
  margin-block: 1rem;
  padding: 1rem;
  box-shadow: 0 4px 24px -6px var(--clr-card-shadow);
  border: 1px solid var(--clr-element-border);
  border-radius: 0.5rem;
}
.form-container form #submit {
  width: fit-content;
  margin-block: 1rem;
  padding: 1rem 1.5rem;
  align-self: center;
  background-color: var(--clr-button-background);
  box-shadow: 0 4px 24px -6px var(--clr-button-shadow);
  border: 1px solid var(--clr-button-border);
  border-radius: 0.5rem;
  color: var(--clr-text-high-contrast);
  cursor: pointer;
}
.form-container form #submit:hover {
  background-color: var(--clr-button-background-hover);
  border: 1px solid var(--clr-button-border-active);
}
.form-container form #submit:active {
  background-color: var(--clr-button-background-active);
  border: 1px solid var(--clr-button-border-active);
}

.child-card {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.child-card article {
  width: 15rem;
  margin: 1rem;
  padding: 1rem;
  background-color: var(--clr-card-background);
  box-shadow: 0 4px 24px -6px var(--clr-card-shadow);
  border: 1px solid var(--clr-card-border);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.child-card article header {
  z-index: unset;
  position: relative;
  background-color: transparent;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.child-card article header img {
  width: 64px;
  height: 64px;
  margin-block: 1rem;
  box-shadow: 0 4px 24px -6px var(--clr-card-shadow);
  border: 1px solid var(--clr-card-border);
  border-radius: 0.5rem;
}
.child-card article h3 {
  text-transform: uppercase;
}
.child-card article ul li {
  margin-block: 1rem;
  padding: 1rem;
}

@media (min-width: 1024px) and (max-width: 1510px) {
  .table-container {
    display: flex;
    flex-direction: column;
  }
  .table-container a {
    width: fit-content;
    margin-block: 2rem;
    padding: 0.5rem 1rem;
    background: var(--clr-link-background);
    border-radius: 0.5rem;
    text-transform: uppercase;
  }
  .table-container a:hover {
    background: var(--clr-link-background-hover);
  }
  .table-container a:active {
    background: var(--clr-link-background-active);
  }
  .table-container table {
    display: table;
    width: 100%;
    margin-block: 1rem;
    text-align: center;
  }
  .table-container table thead {
    background: var(--clr-element-background);
    border-bottom: 1px solid var(--clr-element-border);
  }
  .table-container table thead tr {
    padding: 1.5rem;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .table-container table thead tr th {
    padding: 1rem;
  }
  .table-container table tbody tr {
    padding: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .table-container table tbody tr:hover {
    background-color: var(--clr-element-background-hover);
  }
  .table-container table tbody tr td {
    padding: 1rem;
  }
  .table-container table tbody tr td:before {
    display: none;
  }
  .table-container table a {
    width: fit-content;
    margin-block: 0rem;
    padding: 0.5rem;
    background: transparent;
    border: 2px solid var(--clr-link-background);
    border-radius: 0.5rem;
    text-transform: uppercase;
  }
  .table-container table a:hover {
    background: transparent;
    border: 2px solid var(--clr-link-background-hover);
  }
  .table-container table a:active {
    background: transparent;
    border: 2px solid var(--clr-link-background-active);
  }
  .form-container {
    width: 60%;
  }
}
@media (min-width: 1511px) {
  .table-container {
    display: flex;
    flex-direction: column;
  }
  .table-container a {
    width: fit-content;
    margin-block: 2rem;
    padding: 0.5rem 1rem;
    background: var(--clr-link-background);
    border-radius: 0.5rem;
    text-transform: uppercase;
  }
  .table-container a:hover {
    background: var(--clr-link-background-hover);
  }
  .table-container a:active {
    background: var(--clr-link-background-active);
  }
  .table-container table {
    display: table;
    width: 100%;
    margin-block: 1rem;
    text-align: center;
  }
  .table-container table thead {
    background: var(--clr-element-background);
    border-bottom: 1px solid var(--clr-element-border);
  }
  .table-container table thead tr {
    padding: 1.5rem;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .table-container table thead tr th {
    padding: 1rem;
  }
  .table-container table tbody tr {
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .table-container table tbody tr:hover {
    background-color: var(--clr-element-background-hover);
  }
  .table-container table tbody tr td {
    padding: 1rem;
  }
  .table-container table tbody tr td:before {
    display: none;
  }
  .table-container table a {
    width: fit-content;
    margin-block: 0rem;
    padding: 0.5rem;
    background: transparent;
    border: 2px solid var(--clr-link-background);
    border-radius: 0.5rem;
    text-transform: uppercase;
  }
  .table-container table a:hover {
    background: transparent;
    border: 2px solid var(--clr-link-background-hover);
  }
  .table-container table a:active {
    background: transparent;
    border: 2px solid var(--clr-link-background-active);
  }
  .form-container {
    width: 60%;
  }
}
html {
  font-size: 62.5%;
  line-height: 1.5;
  box-sizing: border-box;
}
html body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: var(--clr-text-high-contrast);
  background-color: var(--clr-subtle-background);
  font-family: var(--ff-body);
  font-size: var(--fs-body);
}
html body .hidden {
  display: none;
}
html body header {
  width: 100%;
}
html body main {
  width: 100%;
  margin-top: 12rem;
}
html body footer {
  width: 100%;
}
html body .menu-container {
  padding: 0.25rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  background-color: var(--clr-menu-background);
  border-radius: 0.5rem;
  z-index: 10;
}
html body .menu-container li {
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body .menu-container li a {
  height: 32px;
  width: 32px;
  padding: 0.25rem;
  display: block;
  background-color: var(--clr-menu-background);
  border-radius: 0.5rem;
}
html body .menu-container li a:hover {
  background-color: var(--clr-menu-background-hover);
}

@media (min-width: 1024px) and (max-width: 1510px) {
  html body main {
    margin-top: 0;
  }
}
@media (min-width: 1511px) {
  html body main {
    margin-top: 0;
  }
}

/*# sourceMappingURL=main.css.map */
