:root[data-theme="light"] {
    color-scheme: light;
    --text: rgb(5, 5, 5);
    --background: rgb(250, 250, 250);
    --background-lighter: rgba(250, 250, 250, 0.700);
    --box-background: rgba(5, 5, 5, 0.150);
    --box-border: transparent;
    --primary: rgb(56, 25, 123);
    --secondary: rgb(223, 212, 247);
    --accent: rgb(92, 30, 225);
}

:root[data-theme="dark"] {
    color-scheme: dark;
    --text: rgb(250, 250, 250);
    --background: rgb(5, 5, 5);
    --background-lighter: rgba(5, 5, 5, 0.600);
    --box-background: rgba(5, 5, 5, 0.690);
    --box-border: rgb(5, 5, 5);
    --primary: rgb(56, 25, 123);
    --secondary: rgb(19, 8, 43);
    --accent: rgb(157, 120, 237);
}