@import "../reset.css";
@import "../variables/colors.css";
@import "../variables/fonts.css";
@import "../variables/font-sizes.css";
header {
  height: 12rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--clr-background);
  box-shadow: 0 9px 38px -11px var(--clr-card-shadow);
  border-radius: 0.5rem;
  z-index: 1;
}
header .header-container {
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .header-container .header-title {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .header-container .header-title h1 {
  font-family: var(--ff-header-title);
  font-size: var(--fs-header-title);
}
header .header-container .header-title p {
  font-family: var(--ff-header-p);
  font-size: var(--fs-header-p);
}
header .header-container .header-toggleBtn-container {
  width: 50px;
  height: 45px;
  padding: 0.3rem;
  position: fixed;
  top: 1.25rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-menu-background);
  border-radius: 0.5rem;
  cursor: pointer;
  z-index: 1000;
}
header .header-container .header-toggleBtn-container:hover {
  background-color: var(--clr-menu-background-hover);
}
header .header-container nav {
  height: 100%;
  padding: 1rem;
  display: none;
  position: fixed;
  top: 120px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--clr-background);
}
header .header-container nav.mainNavActive {
  display: block;
}
header .header-container nav ul {
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-card-background);
  color: var(--clr-text-high-contrast);
  border-radius: 0.5rem;
  overflow: auto;
}
header .header-container nav ul li {
  margin-block: 1rem;
  padding: 1rem 2.5rem;
  width: fit-content;
  position: relative;
  border-radius: 0.5rem;
  text-align: center;
  text-transform: uppercase;
}
header .header-container nav ul li:hover {
  background-color: var(--clr-card-background-hover);
}
header .header-container nav ul li:active {
  background-color: var(--clr-element-background-active);
}
header .header-container nav ul li a {
  position: relative;
  font-family: var(--ff-links);
}

footer {
  background-color: var(--clr-element-background);
  border-top: 1px solid var(--clr-element-border);
}
footer nav {
  margin-block: 2rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer nav ul li {
  padding-block: 1.25rem;
  padding-inline: 0.5rem;
  text-align: center;
  border-radius: 0.5rem;
}
footer nav ul li:hover {
  background-color: var(--clr-element-background-hover);
}
footer nav ul li:active {
  background-color: var(--clr-element-background-active);
}
footer nav ul li a {
  text-transform: uppercase;
}
footer p {
  margin-block: 6rem 3rem;
  padding: 1.5rem;
  text-align: center;
}
footer p a {
  font-weight: bold;
}

.homepage-container .homepage-image-container {
  height: 18rem;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: var(--clr-background);
}
.homepage-container .homepage-image-container img {
  object-fit: cover;
}
.homepage-container .homepage-shortcutNav-container {
  padding: 1rem;
}
.homepage-container .homepage-shortcutNav-container .shortcutNav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  justify-items: center;
}
.homepage-container .homepage-shortcutNav-container .shortcutNav a {
  width: 10rem;
  height: 11rem;
  margin-bottom: 4.5rem;
  padding-bottom: 4rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
  background-color: var(--clr-card-background);
  box-shadow: 0 4px 24px -6px var(--clr-card-shadow);
  border: 1px solid var(--clr-card-border);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.homepage-container .homepage-shortcutNav-container .shortcutNav a:hover {
  background-color: var(--clr-card-background-hover);
  border: 1px solid var(--clr-card-border-active);
}
.homepage-container .homepage-shortcutNav-container .shortcutNav a:active {
  background-color: var(--clr-card-background-active);
  border: 1px solid var(--clr-card-border-active);
}
.homepage-container .homepage-shortcutNav-container .shortcutNav a .svg-container {
  width: 48px;
  height: 48px;
}
.homepage-container .homepage-shortcutNav-container .shortcutNav a .svg-container img {
  width: 48px;
  height: 48px;
}
.homepage-container .homepage-shortcutNav-container .shortcutNav a .label {
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2;
}
.homepage-container .agenda {
  margin-block: 2rem;
  padding: 4rem 4rem 2rem;
}
.homepage-container .agenda h2 {
  margin-block: 2rem;
  font-size: var(--fs-section-title);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.homepage-container .agenda h2:after {
  width: 10rem;
  height: 0.35rem;
  margin: 3rem auto;
  content: "";
  display: block;
  background-color: var(--clr-accent);
}
.homepage-container .agenda ul {
  margin-block: 3rem;
}
.homepage-container .agenda ul li {
  margin-block: 2rem;
  padding: 2rem;
  background-color: var(--clr-card-background);
  border: 1px solid var(--clr-card-border);
  border-radius: 0.5rem;
  box-shadow: 0 4px 24px -6px var(--clr-card-shadow);
}

.main-container {
  padding: 1rem;
  background-color: var(--clr-background);
}
.main-container h1 {
  margin-block: 3.5rem 3rem;
  font-size: var(--fs-page-title);
  text-align: center;
}
.main-container h1::after {
  margin: 1.5rem auto;
  width: 10rem;
  height: 0.35rem;
  content: "";
  display: block;
  background-color: var(--clr-accent);
}
.main-container .sub-pages-list {
  margin-bottom: 3.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.main-container .sub-pages-list a {
  height: 10rem;
  width: 15rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-card-background);
  box-shadow: 0 4px 24px -6px var(--clr-card-shadow);
  border: 1px solid var(--clr-card-border);
  border-radius: 0.5rem;
  text-align: center;
}
.main-container .sub-pages-list a:hover {
  background-color: var(--clr-card-background-hover);
  border: 1px solid var(--clr-card-border-hover);
}
.main-container .sub-pages-list a:active {
  background-color: var(--clr-card-background-active);
  border: 1px solid var(--clr-card-border-active);
}
.main-container .list-items h2 {
  margin-block: 2.5rem;
  font-size: var(--fs-section-title);
}
.main-container .list-items article {
  margin-block: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.main-container .list-items article:before {
  width: 20rem;
  height: 0.2rem;
  margin: 1.5rem auto 3rem;
  content: "";
  display: block;
  background-color: var(--clr-element-border);
}
.main-container .list-items article:after {
  width: 20rem;
  height: 0.2rem;
  margin: 3rem auto 1.5rem;
  content: "";
  display: block;
  background-color: var(--clr-element-border);
}
.main-container .list-items article h3 {
  text-transform: uppercase;
}
.main-container .list-items article ul li {
  margin-block: 1rem;
  padding: 1rem;
}
.main-container .list-items article ul li a {
  padding: 0.5rem;
  background: var(--clr-link-background);
}
.main-container .list-items article ul li a:hover {
  background: var(--clr-link-background-hover);
}
.main-container .list-items article ul li a:active {
  background: var(--clr-link-background-active);
}
.main-container .list-items article a {
  margin-block: 1rem;
  padding: 1rem;
  border: 2px solid var(--clr-link-background);
  border-radius: 0.5rem;
}
.main-container .list-items article a:hover {
  border: 2px solid var(--clr-link-background-hover);
}
.main-container .list-items article a:active {
  border: 2px solid var(--clr-link-background-active);
}
.main-container .single-page {
  padding: 2.5rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-container .single-page p {
  padding: 1rem;
  order: 1;
}
.main-container .single-page figure {
  width: auto;
  order: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-background);
}
.main-container .single-page figure img {
  width: 80%;
  height: auto;
  margin-block: 2rem;
  order: 0;
  border: 1px solid var(--clr-element-border);
  border-radius: 0.5rem;
}

.table-container {
  display: flex;
  flex-direction: column;
}
.table-container a {
  width: fit-content;
  margin-block: 2rem;
  padding: 0.5rem 1rem;
  background: var(--clr-link-background);
  border-radius: 0.5rem;
  text-transform: uppercase;
}
.table-container a:hover {
  background: var(--clr-link-background-hover);
}
.table-container a:active {
  background: var(--clr-link-background-active);
}
.table-container table {
  width: 100%;
  margin-block: 1rem;
  text-align: center;
}
.table-container table thead {
  background: var(--clr-element-background);
  border-bottom: 1px solid var(--clr-element-border);
}
.table-container table thead tr {
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-container table thead tr th {
  padding: 1rem;
}
.table-container table tbody tr {
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-container table tbody tr:hover {
  background-color: var(--clr-element-background-hover);
}
.table-container table tbody tr td {
  padding: 1rem;
}
.table-container table a {
  width: fit-content;
  margin-block: 0rem;
  padding: 0.5rem;
  background: transparent;
  border: 2px solid var(--clr-link-background);
  border-radius: 0.5rem;
  text-transform: uppercase;
}
.table-container table a:hover {
  background: transparent;
  border: 2px solid var(--clr-link-background-hover);
}
.table-container table a:active {
  background: transparent;
  border: 2px solid var(--clr-link-background-active);
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-container form fieldset input {
  width: 80%;
  margin-block: 1rem;
  padding: 1rem;
  box-shadow: 0 4px 24px -6px var(--clr-card-shadow);
  border: 1px solid var(--clr-element-border);
  border-radius: 0.5rem;
}
.form-container form #submit {
  width: fit-content;
  margin-block: 1rem;
  padding: 1rem 1.5rem;
  align-self: center;
  background-color: var(--clr-button-background);
  box-shadow: 0 4px 24px -6px var(--clr-button-shadow);
  border: 1px solid var(--clr-button-border);
  border-radius: 0.5rem;
  color: var(--clr-text-high-contrast);
  cursor: pointer;
}
.form-container form #submit:hover {
  background-color: var(--clr-button-background-hover);
  border: 1px solid var(--clr-button-border-active);
}
.form-container form #submit:active {
  background-color: var(--clr-button-background-active);
  border: 1px solid var(--clr-button-border-active);
}

html {
  font-size: 62.5%;
  line-height: 1.5;
  box-sizing: border-box;
}
html body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: var(--clr-text-high-contrast);
  background-color: var(--clr-subtle-background);
  font-family: var(--ff-body);
  font-size: var(--fs-body);
}
html body header {
  width: 100%;
}
html body main {
  width: 100%;
  margin-top: 12rem;
}
html body footer {
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
