:root {
    --fs-header-title : 4rem;
    --fs-header-p : 1.5rem;
    --fs-page-title : 2.75rem;
    --fs-section-title : 2.5rem;
    --fs-post-title : 2.25rem;
    --fs-body : 1.5rem;
    --fs-p : 1rem;
}